<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portal Feed</title>
  </head>
  <body>
    <nav>
      <a href="@!request.route_url(name="portal:portal/main.html")!@">Portal Main Page</a>
    </nav>
    <main>
      <p><strong>Portal feed for: @!today!@.</strong></p>
      <p>Lorem ipsum dolor sit amet, habemus splendide sit at. Omnes regione complectitur usu ex. Quo at adhuc persequeris, ne sea ignota appareat. Has ex ridens timeam, mei melius corrumpit an. Autem velit est ex. At quo amet graecis, has cu ullum disputando repudiandae.</p>
      <p>Sea nihil scribentur eu. Quod oportere sadipscing et sea. Ea probo euismod persequeris vel, cu ius paulo vocent suscipiantur. No tollit definitiones mei.</p>
      <p>Vel labores feugait philosophia ex. Lucilius insolens democritum has ea. Cu velit regione definitiones sea. Ut duo mentitum senserit, graeci malorum forensibus id vix. Solet postulant duo ea. Unum saepe aliquando no sed.</p>
      <p>Scripta voluptua mei ne, et tantas referrentur eam. Vel munere quaeque dignissim no. No unum probo per, paulo postea ne ius. Eu elitr veniam molestiae qui, elit appareat dignissim usu in. Nam tota consequat definiebas eu, qui latine efficiendi honestatis eu. Cu maiorum vivendum salutatus nam, quo in eruditi denique recusabo.</p>
      <p>Eu eos munere iisque vidisse, nam case consectetuer an. Ut eum dicam delicatissimi, labore placerat vituperata nec ne. Duo ne cetero legimus dissentiunt. At cotidieque definitionem vix. Id nulla interesset interpretaris eam, autem nemore elaboraret has ut.</p>
    </main>
  </body>
</html>
